$light_blue: #82ABCA;
$dark_blue: #004E89;
$eggshell: #EFEFD0;
$peach: #F7C59F;
$pumpkin: #FF6B35;
$bad_red: #9D0600;
$default_bg_color: #f5f5f5;
$warning_yellow: #ffdd57;
$hover_color: #eee;

$default_margin: 20px;
$side_hamburger_width: 28px;
$sidebar_width_right: 270px;
$sidebar_width_left: 180px;
$top_margin: 60px;
$main_container_width: calc(100% - 270px);
$default_min_container_width: 280px;

body,html {
  margin:0;
  padding:0;
  font-family: 'Nunito', sans-serif;
  .label, .input, .button, .select, .textarea, .panel-block { font-size: 14px; &:focus { border-color: $dark_blue; }; }
  .content p:not(:last-child), .content dl:not(:last-child), .content ol:not(:last-child), .content ul:not(:last-child), .content blockquote:not(:last-child), .content pre:not(:last-child), .content table:not(:last-child) { margin-bottom: 0; }
  .control {
    .input, .select, .textarea {
      &:active, &:focus { border-color: $dark_blue; }
    }
  }
}
