@media screen and (max-width: 950px) {

  .applicant-page, .employer-page {
    padding: 0 $default_margin/2;
    .main-container {
      display: inline-block; width: 100%; padding: $top_margin 0px $default_margin $side_hamburger_width+10px;
      .search-bar-container { min-width: 240px; }
    }
    .hamburger {
      display: inline-block; width: $side_hamburger_width;
      background-color: $dark_blue; height: calc(100vh - 50px - 30px); margin-top: $top_margin;
      float: left; position: fixed; cursor: pointer; :hover { transform: scale(1.1); }
      .fa { margin: auto; display: block; margin: 5px; font-size: 20px; color: white; }
    }
    .control-bar {
      width: 0;
      // display: none;
    }
    .control-bar.is-open {
      display: inline-block; position: fixed; margin-left: $side_hamburger_width; width: 250px;
      -webkit-transition: width 0.1s ease;
        -moz-transition: width 0.1s ease;
         -ms-transition: width 0.1s ease;
          -o-transition: width 0.1s ease;
             transition: width 0.1s ease;
    }
  }

}

@media screen and (max-width: 520px) {

  .register-login-page, .forgot-account-page, .reset-password-page, .register-confirm-page {
    .nav.login {
      .container {
        .nav-item {
          &.credentials {
            width: calc(100% - 118px);
          }
        }
      }
    }
  }

  .employer-page .main-container .postings-container .posting-row .media {
    display: block;
    .media-right {
      width: 100%; display: block; margin: 0; text-align: center;
      // .chert { display: inline-block; margin: auto; }
      .map-container, .btn-container { display: inline-block; width: 129px; vertical-align: top; margin: $default_margin/4 $default_margin/4 $default_margin/4 0; }
    }
  }

  .applicant-page .main-container .vacancies-container .vacancy-row .media {
    display: block;
    .media-right {
      width: 100%; display: block; margin: 0; text-align: center;
      // .chert { display: inline-block; margin: auto; }
      .map-container, .btn-container { display: inline-block; width: 129px; vertical-align: top; margin: $default_margin/4 $default_margin/4 $default_margin/4 0; .button { margin-top: $default_margin*2; } }
    }
  }

}
